TransactCreditCards/src/main/webapp/wsdl/CreditCardCheck.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="checkCCNumber">
    <complexType>
     <sequence>
      <element name="cardNumber" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkCCNumberResponse">
    <complexType>
     <sequence>
      <element name="checkCCNumberReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkCCNumberResponse">

      <wsdl:part element="impl:checkCCNumberResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkCCNumberRequest">

      <wsdl:part element="impl:checkCCNumber" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CreditCardCheck">

      <wsdl:operation name="checkCCNumber">

         <wsdl:input message="impl:checkCCNumberRequest" name="checkCCNumberRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkCCNumberResponse" name="checkCCNumberResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CreditCardCheckSoapBinding" type="impl:CreditCardCheck">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checkCCNumber">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkCCNumberRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkCCNumberResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CreditCardCheckService">

      <wsdl:port binding="impl:CreditCardCheckSoapBinding" name="CreditCardCheck">

         <wsdlsoap:address location="http://localhost:8080/TransactCreditCards/services/CreditCardCheck"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
